@*@model StickerFire.Models.*@

<h2>Make a New Sticker Campaign</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                @*Name of the campain*@
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <div>
                    <select asp-for="CampaignCategory" asp-items="Model.category">
                        <option value="">ALL</option>
                    </select>

                    <input type="submit" value="Filter" />
                </div>
            </div>

            <div class="form-group">
                @*Description of the campain*@
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
           
        </form>
        @*form for upload file*@
        <form method="post" runat="server" enctype="multipart/form-data">
            <input type="file" runat="server" />

        </form>
    </div>
</div>
