
﻿.
@model IEnumerable<StickerFire.Models.Campaign>
@using StickerFire.Models;
@{ 
    Layout = "_Layout";
}

<h1>This is the Campaign index page</h1>

<p>
    <a asp-action="Create">Create new campaign </a>
</p>
<div class="container">
    <div class="row">
        @{ 
            foreach(var item in Model)
            {  
                <div class="col-lg-2">
                    <img src="http://via.placeholder.com/140x150"/>
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>                     
                    <p>Votes:@Html.DisplayFor(modelItem => item.Votes) | Views:@Html.DisplayFor(modelItem => item.Views)</p>                   
                    <p>@Html.DisplayFor(modelItem => item.Description)</p>
                </div>
         
            }
        }
    </div>
</div>
