
@model IEnumerable<StickerFire.Models.Campaign>
@using StickerFire.Models;
@{
    Layout = "_Layout";
}

<h3>Browse Campaigns</h3>

<div class="container">
    <div class="row">
        @{
            foreach (var item in Model)
            {
                if (item.Published == true)
                {
                    <div class="col-lg-6 paneList">
                        <div class="panel">
                            @if (item.ImgPath != null)
                    {
                                <a asp-controller="Campaign" asp-action="ViewCampaign" asp-route-id="@item.ID"><img src="@item.ImgPath" class="img-responsive previewImg" /></a>
                            }
                            else
                            { <img src="https://stickerfireblob.blob.core.windows.net/f98ff485-0847-4d44-8bb1-f39bb0933f92container/scoop" />}
                            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>

                            <p>Votes:@Html.DisplayFor(modelItem => item.Votes) | Views:@Html.DisplayFor(modelItem => item.Views)</p>
                        </div>
                    </div>
                }

            }
        }
    </div>
</div>
