@model StickerFire.Models.Campaign
@{
    Layout = "_Layout";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12 stickerHeading">
            <h1>@Html.DisplayFor(modelItem => Model.Title)</h1>
        </div>
        <div class="col-lg-12">
            <img class="Sticker" src="~/images/@Model.ImgPath">
        </div>
        <div class="col-lg-12 stickerInfo">
            <p>Votes:@Html.DisplayFor(modelItem => Model.Votes) | Views:@Html.DisplayFor(modelItem => Model.Views)</p>
            <h3>About this Sticker:</h3>
            <p>@Html.DisplayFor(modelItem => Model.Description)</p>
        </div>
    </div>
</div>


