@{
    Layout = "_Layout";
}

<style>
    .name {
        display: inline;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-3 campList">

            <div>
                <h3 class="name">Erik Plyushko</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>

            <img src="~/images/erikpl.png" />

            <p>
                Was born in Estonia but has lived in
                Washington most of his life. Erik is 
                a Army veteran, likes to play tournament 
                paint-ball  and is a PC enthusiast. His 
                life goal is to become a full-stack .Net 
                developer, build cool stuff, travel, and keep
                up with
                tech and never stop learning.
            </p>
        </div>
        <div class="col-lg-3 campList">

            <div>
                <h3 class="name">Duane Rush</h3>
                <a href="https://github.com/desertduane"><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href="https://www.linkedin.com/feed/"><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>

            <img width="230" height="210" src="~/images/duane.jpg" />

            <p>
                I am a full stack .Net Core with C# developter.
                A Washington native with a long time love of tech
                with a new found love for coding. A CWU grad with a
                bachelors in Biology.

            </p>
        </div>
        <div class="col-lg-3 campList">
            <div>
                <h3 class="name">Austin Cohrs</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>
            <img src="~/images/austin_photo.jpg" />

            <p>
                I am a full-stack web and software developer with an affinity for design. A veteran and former Electronics Technician of the U.S. Coast Guard, I'm currently applying my diverse background in technology and design, to web and software development.
            </p>
        </div>
        <div class="col-lg-3 campList">
            <div>
                <h3 class="name">Gregory Dukes</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>
            <img src="~/images/Headshot.jpg" />

            <p>
                I am a full-stack .NET developer in C#.  My drive is to understand how things work.  I became a software developer to make software better, and I'm here because this is where I can do that.
            </p>
        </div>
    </div>
</div>



