@{
    Layout = "_Layout";
}

<style>
    .name {
        display: inline;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-3">

            <div>
                <h3 class="name">Erik Plyushko</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>

            <img src="http://via.placeholder.com/230x210" />

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Morbi id lobortis urna, vitae mattis mauris.
                Nunc scelerisque egestas blandit. Phasellus laoreet,
                elit in finibus porttitor
            </p>
        </div>
        <div class="col-lg-3">

            <div>
                <h3 class="name">Duane Rush</h3>
                <a href="https://github.com/desertduane"><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href="https://www.linkedin.com/feed/"><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>

            <img transform="rotate(90deg)" width="230" height="210" src="~/images/IMG_0517.jpg" />

            <p>
                I am a full stack .Net Core with C# developter.
                A Washington native with a long time love of tech 
                with a new found love for coding. A CWU grad with a 
                bachelors in Biology. 
                
            </p>
        </div>
        <div class="col-lg-3">
            <div>
                <h3 class="name">Austin Cohrs</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>
            <img src="http://via.placeholder.com/230x210" />

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Morbi id lobortis urna, vitae mattis mauris.
                Nunc scelerisque egestas blandit.
            </p>
        </div>
        <div class="col-lg-3">
            <div>
                <h3 class="name">Gregory Dukes</h3>
                <a href=""><img src="~/images/Git.png" width="20" height="20" /></a>
                <a href=""><img src="~/images/linkedIn.png" width="20" height="20" /></a>
            </div>
            <img src="http://via.placeholder.com/230x210" />

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing
                elit. Morbi id lobortis urna, vitae mattis mauris.
                Nunc scelerisque egestas blandit. Phasellus laoreet,
                elit in finibus porttitor,
            </p>
        </div>
    </div>
</div>



