@model StickerFire.Models.MegaViewModel
@{
    Layout = "_Layout";
}
<style>
   
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-2 login">
            <form asp-action= "Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h2>Login</h2>
                <label asp-for=LoginViewModel.Email>Email</label>
                <input asp-for=LoginViewModel.Email />
                <br />
                <label asp-for=LoginViewModel.Password>Password</label>
                <input asp-for=LoginViewModel.Password />
                <br />

                <button type="submit">Login</button>
            </form>
        </div>
        </div>

    <div class="row">
        <div class="col-lg-2">
            <form asp-action="Register" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h2>Register</h2>
                <label asp-for="RegisterViewModel.Email">Email</label>
                <input asp-for="RegisterViewModel.Email" />
                <span asp-validation-for="RegisterViewModel.Email"></span>
                <br />

                <label asp-for="RegisterViewModel.Password">Password</label>
                <input asp-for="RegisterViewModel.Password" />
                <span asp-validation-for="RegisterViewModel.Password"></span>
                <br />

                <label asp-for="RegisterViewModel.ConfirmPassword">Confirm Password</label>
                <input asp-for="RegisterViewModel.ConfirmPassword" />
                <span asp-validation-for="RegisterViewModel.ConfirmPassword"></span>
                <br />

                <button type="submit">Register</button>
            </form>
        </div>
        </div>
    </div>




