body {
    background-image: url('images/graffiti-wall-op.jpg');
    
}

.table {
    background-color: #e9eaec;
}

hr {
    border: 1px solid black;
    border-color:black;
    color:black;
}

h2 {
    font-family: 'Bauhaus 93';
}

h3 {
    font-family: 'Bauhaus 93';
}

.stickerHeading {
    margin-top: 5%;
    margin-bottom: 5%;
    background-image: url('images/graffiti-wall.jpg');
    background-size: cover;
    text-align: center;
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 2px 2px 0 black;
    font-family: 'Bauhaus 93';
    color: #88c100;
}

    .stickerHeading h1 {
        font-size: 5em;
        text-shadow: 5px 5px 0 white, -5px 5px 0 white, 5px -5px 0 white, -5px -5px 0 white;
    }


.img-responsive, .Sticker {
    display: block;
    width: auto;
}

.campList {
    margin-top:2%;
    margin-left:2%;
    margin-bottom: 2%;
    background-color: #e9eaec;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 1px black);
}

.stickerInfo {
    margin-top: 5%;
}


.progress {
    height: 30px;
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px 1px 3px black);
}
.progress-bar {
    border:2px solid white;
    background-color: #88c100;
}

.vote{
    text-align:center;
}

.btn-lg {
    border: 2px solid white;
    background-color: #58cbe5;
    width: 50%;
    font-family: 'Bauhaus 93';
    color: white;
    margin-bottom: 10%;
    margin-top: 10%;
}

    .btn-lg:hover {
        background-color: #88c100;
        text-decoration: none;
        color:white;
    }

.campaignButton .btn-lg {
    background-color: #88c100;
}

    .campaignButton .btn-lg:hover {
        background-color: #58cbe5;
    }

button {
    border: 2px solid white;
    background-color: #58cbe5;
    font-family: 'Bauhaus 93';
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
}

    button:hover {
        background-color: #88c100;
    }
    
    .Sticker {
        filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white)drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white)drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white)drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white)drop-shadow(1px 1px 0 white) drop-shadow(-1px 1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px 1px 3px black);
        margin-bottom: 2%;
        display: inline-block;
        width: 100%;
    }

.previewImg {
    margin-right: 5%;
    margin-bottom:5%;
    float: left;
    height: 100px;
    filter: drop-shadow(2px 2px 0 white) drop-shadow(-2px 2px 0 white) drop-shadow(2px -2px 0 white) drop-shadow(-2px -2px 0 white) drop-shadow(1px 1px 2px black);
}

.navbar-brand {
    padding: 5px 15px;
}

#NavLogo {
    height: 40px;
}

#footer{
    position:fixed;
    bottom: 0;
}
